<!-- wp:group {"style":{"spacing":{"margin":{"top":"0"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:0;padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:group {"align":"wide","style":{"spacing":{"margin":{"top":"var:preset|spacing|30"},"padding":{"right":"0","left":"0"}}},"layout":{"type":"default"}} -->
	<div class="wp-block-group alignwide"
		style="margin-top:var(--wp--preset--spacing--30);padding-right:0;padding-left:0">
		<!-- wp:woocommerce/breadcrumbs {"align":""} /-->

		<!-- wp:query-title {"type":"archive","showPrefix":false,"align":"","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"var:preset|spacing|10","bottom":"var:preset|spacing|10"}}}} /-->

		<!-- wp:woocommerce/store-notices {"align":""} /-->

		<!-- wp:group {"align":"","style":{"spacing":{"margin":{"bottom":"15px"}}},"layout":{"type":"flex","flexWrap":"wrap","justifyContent":"space-between"}} -->
		<div class="wp-block-group" style="margin-bottom:15px">
			<!-- wp:woocommerce/product-results-count {"textColor":"brandy-secondary-text","style":{"elements":{"link":{"color":{"text":"var:preset|color|brandy-secondary-text"}}}}} /-->

			<!-- wp:woocommerce/catalog-sorting /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:pattern {"slug":"brandy/products-grid-has-pagination"} /-->

	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"site-pre-footer"} /-->