<!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|30"},"padding":{"right":"var:preset|spacing|30","left":"var:preset|spacing|30","top":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"
	style="margin-top:0;margin-bottom:var(--wp--preset--spacing--30);padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)">
	<!-- wp:group {"align":"wide","style":{"spacing":{"padding":{"right":"0","left":"0"}}},"layout":{"type":"default"}} -->
	<div class="wp-block-group alignwide" style="padding-right:0;padding-left:0">
		<!-- wp:pattern {"slug":"brandy/order-confirmation-processing-bar"} /-->
		<!-- /wp:group -->

		<!-- wp:post-title {"textAlign":"center","align":"full","style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}}} /-->

		<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"0","bottom":"0"},"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|30"}}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
		<div class="wp-block-group alignfull"
			style="margin-top:var(--wp--preset--spacing--20);margin-bottom:var(--wp--preset--spacing--30);padding-top:0;padding-bottom:0">
			<!-- wp:woocommerce/order-confirmation-status {"fontSize":"large","style":{"typography":{"fontStyle":"normal","fontWeight":"600"},"spacing":{"margin":{"top":"0","bottom":"0","left":"0","right":"0"}}}} /-->
		</div>
		<!-- /wp:group -->

		<!-- wp:woocommerce/order-confirmation-summary {"align":"full","style":{"spacing":{"padding":{"right":"0","left":"0","top":"0","bottom":"0"},"margin":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|40","left":"0","right":"0"}}}} /-->

		<!-- wp:woocommerce/order-confirmation-totals-wrapper {"align":"full"} -->
		<!-- wp:heading {"level":3,"style":{"typography":{"fontSize":"24px"}}} -->
		<h3 class="wp-block-heading" style="font-size:24px">Order details</h3>
		<!-- /wp:heading -->

		<!-- wp:woocommerce/order-confirmation-totals {"lock":{"remove":true},"textColor":"brandy-primary-text","style":{"elements":{"link":{"color":{"text":"var:preset|color|brandy-primary-text"}}},"spacing":{"margin":{"bottom":"var:preset|spacing|40","top":"0"}}}} /-->
		<!-- /wp:woocommerce/order-confirmation-totals-wrapper -->

		<!-- wp:woocommerce/order-confirmation-downloads-wrapper -->
		<!-- wp:heading {"level":3,"style":{"typography":{"fontSize":"24px"}}} -->
		<h3 class="wp-block-heading" style="font-size:24px">Downloads</h3>
		<!-- /wp:heading -->

		<!-- wp:woocommerce/order-confirmation-downloads {"lock":{"remove":true},"textColor":"brandy-primary-text","style":{"elements":{"link":{"color":{"text":"var:preset|color|brandy-primary-text"}}},"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|40"}}}} /-->
		<!-- /wp:woocommerce/order-confirmation-downloads-wrapper -->

		<!-- wp:columns {"style":{"spacing":{"margin":{"top":"0","bottom":"var:preset|spacing|40"}}},"className":"woocommerce-order-confirmation-address-wrapper"} -->
		<div class="wp-block-columns woocommerce-order-confirmation-address-wrapper"
			style="margin-top:0;margin-bottom:var(--wp--preset--spacing--40)"><!-- wp:column -->
			<div class="wp-block-column"><!-- wp:woocommerce/order-confirmation-shipping-wrapper -->
				<!-- wp:heading {"level":3,"style":{"typography":{"fontSize":"24px"}}} -->
				<h3 class="wp-block-heading" style="font-size:24px">Shipping address</h3>
				<!-- /wp:heading -->

				<!-- wp:woocommerce/order-confirmation-shipping-address {"lock":{"remove":true},"textColor":"brandy-primary-text","style":{"elements":{"link":{"color":{"text":"var:preset|color|brandy-primary-text"}}}}} /-->
				<!-- /wp:woocommerce/order-confirmation-shipping-wrapper -->
			</div>
			<!-- /wp:column -->

			<!-- wp:column -->
			<div class="wp-block-column"><!-- wp:woocommerce/order-confirmation-billing-wrapper -->
				<!-- wp:heading {"level":3,"style":{"typography":{"fontSize":"24px"}}} -->
				<h3 class="wp-block-heading" style="font-size:24px">Billing address</h3>
				<!-- /wp:heading -->

				<!-- wp:woocommerce/order-confirmation-billing-address {"lock":{"remove":true},"textColor":"brandy-primary-text","style":{"elements":{"link":{"color":{"text":"var:preset|color|brandy-primary-text"}}}}} /-->
				<!-- /wp:woocommerce/order-confirmation-billing-wrapper -->
			</div>
			<!-- /wp:column -->
		</div>
		<!-- /wp:columns -->

		<!-- wp:woocommerce/order-confirmation-additional-fields-wrapper /-->

		<!-- wp:woocommerce/order-confirmation-additional-information /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"site-pre-footer"} /-->